# Python
venv/
env/
__pycache__/
*.pyc
instance/
.pytest_cache/

# Databases
*.db
*.sqlite3

# Node / Next.js
node_modules/
.next/
out/
build/

# Environment Variables (CRITICAL)
.env
.env.local
.env.development.local

# IDEs
.vscode/
.idea/